<%- include('head.partial.ejs') %>
<div class="container">
  <h1>Polecenia Albumów Metalowych</h1>

  <a href="/add-album" class="add-album-link">Dodaj Album</a>

  <div class="section">
    <h2>Rekomendowane Albumy:</h2>
    <ul>
      <% albums.forEach(album => { %>
        <li>
          <a href="/album/<%= album.artist %>"><%= album.artist %> - <%= album.title %></a>
          <a href="/edit-album/<%= album.id %>" class="action-button">Edytuj</a>
          <form action="/delete-album/<%= album.id %>" method="POST" style="display:inline;">
            <input type="submit" class="action-button" value="Usuń" onclick="return confirm('Czy na pewno chcesz usunąć ten album?')">
          </form>
        </li>
      <% }); %>
    </ul>
  </div>

  <a href="/about" class="about-link">O Stronie</a>
</div>
<%- include('foot.partial.ejs') %>
